#about{
  background: linear-gradient(0deg, rgb(0 0 0 / 7%), rgb(0 0 0 / 50%)), url('../../images/about-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 400px;
  background-size: cover;
}

#about h1 {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-top: 112px;
}
.about-right h2{
  text-align: left;
  padding-bottom: 20px;
  font-size: 2.5rem;
}
.about-right img{
  margin-bottom: -45px;
  margin-left: -45px;
}

.title1 h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #E12454;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.title1 h2 {
  font-size: 40px;
  line-height: 50px;
  color: #223645;
  font-weight: bold;
}
.title1 h2 span {
  color: #E12454;
}
.about1__item {
  position: relative;
}
.about1__content p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #768495;
  font-size: 16px;
  line-height: 1.9;
}
.about-btn:hover i{
  background-color: #E12454;
    color: #fff;
}